* {
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

body {
    font-family: poppins;
    font-size:15px;
    margin-top:15px;
    background-color: white;
    color:hsl(229, 6%, 66%);
}

.wrapper {
    width:1440px;
    background-color: hsl(0, 0%, 98%);
    margin: auto;
    padding-top: 25px;
}

header {
    text-align: center;
    color:hsl(229, 6%, 66%);
    width: 40%;
    margin:auto;
    padding:30px;
}

.stretch {
    color:hsl(234, 12%, 34%);
    font-size: 35px;
    font-weight: 200;
}

header > p {
    padding-top: 15px;
}

.strong {
    font-size: 35px;
    color:hsl(234, 12%, 34%);
    font-weight: 600;
}
main {
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

/* handles the ywom middle cards */

.middle {
    display:flex;
    flex-direction:column;
    margin:10px
}

.card {
    display:flex;
    flex-direction:column;
    height: 270px;
    max-width: 375px;
    margin:10px;
    padding: 40px;
    background-color: white;
    /* border: 1px solid red; */
    border-radius: 6px;
    /* offset-x | offset-y | blur-radius | spread-radius | color */
    box-shadow: 0 10px 20px -10px;
}

.card p {
    padding-top: 10px;
}

.card-header {
    color:hsl(234, 12%, 34%);
    font-weight: 600;
}

div.svg {
    display:flex;
    padding:50px 0 0 0;
    justify-content:flex-end;
}

.card-blue {
    border-top: 5px solid hsl(212, 86%, 64%) ;
}

.card-red {
    border-top: 5px solid hsl(0, 78%, 62%);
}

.card-cyan {
    border-top: 5px solid hsl(180, 62%, 55%);
}

.card-yellow {
    border-top: 5px solid hsl(34, 97%, 64%);
}

footer {
    margin-top: 20px;
}

@media only screen and (max-width: 400px) {
    .stretch, .strong {
        font-size: 25px;
    }
    header {
        width: 100%;
        margin:auto;
        padding:10px;
    }

    .wrapper {
        width: 375px;
    }
    .middle {
        display:block;
        margin:10px
    }

    main {
        flex-wrap: wrap;
    }

    .card {
        height: 245px;
        max-width: 350px;
        padding:25px
    }
    
    div.svg {
        padding:30px 0 0 0;
    }

}